
    {% extends "base.html" %}
{% block content %}
<!----   <div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll" data-image-src="img/hero.jpg">
        <form class="d-flex tm-search-form">
            <input class="form-control tm-search-input" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success tm-search-btn" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div> -->
    <div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll" data-image-src="static/images/hero/dotted-shape.svg">
        {% from "_formhelpers.html" import render_field %}
          <form class="d-flex tm-search-form" method="post" action="{{ url_for('search') }}">
            {{ searchform.search(class_='form-control tm-search-input') }}
            {{ searchform.submit(class_='form-control tm-search-input') }}
  
              </button>
          </form>
      </div>


    <div class="container-fluid tm-container-content tm-mt-60">
        <div class="row mb-4">
            <h2 class="col-6 tm-text-primary">
                Search results 
                {% if tags %} 
               for  {{tags}}
                {% else%}
                ""
                {% endif %}
            </h2>
            <div class="col-6 d-flex justify-content-end align-items-center">
                <form action="" class="tm-text-primary">
                    Page <input type="text" value="{{ memes.page }}" size="1" class="tm-input-paging tm-text-primary"> of {{ memes.pages }}

                </form>
            </div>
        </div>
        <div class="row tm-mb-90 tm-gallery">
   
            {% for meme in memes.items %}
         {% if meme %}
        	<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <div class="thumbnails"  >
                <figure class="effect-ming tm-video-item">
                    <a class="btn"  href="{{ url_for('view',id=meme.id) }}"><img src="{{meme.image}}" alt="..." class="img-fluid" style="max-width: 100%; height: 250px;"></a>
                                        <figcaption class="d-flex align-items-center justify-content-center">
                        <h2>View</h2>
                        <a href="{{ url_for('view',id=meme.id) }}">View more</a>
                    </figcaption>                    
                </figure>
                <div class="d-flex justify-content-between tm-text-gray">
                    <a class="btn"  href="{{ url_for('view',id=meme.id) }}">View</a>
                    <span>{{meme.type}}</span>
                </div>
            </div>
        </div>
           
            {% else %}
           "No results found"
            {% endif %}
            {% endfor %}
        </div>

        <h2 class="col-6 tm-text-primary">
            Search results from giphy
        </h2>
        <div class="row tm-mb-90 tm-gallery">
            {% if search == 'yes' and results=='yes' %}
            {% for i in range(0,len) %}
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <a class="btn"  href="{{ url_for('view',id=dict['data'][i]['images']['original']['url']) }}"><img src="{{dict['data'][i]['images']['original']['url']}}" alt="..." class="img-fluid"></a>
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2>View</h2>
                        <a href="{{ url_for('view',id=dict['data'][i]['id']) }}">View more</a>
                    </figcaption>                    
                </figure>
                <div class="d-flex justify-content-between tm-text-gray">
                    <span>{{dict['data'][i]['title']}}</span>
                    <a href="{{ url_for('view',id=dict['data'][i]['id']) }}">View more</a>

                </div>
            </div>
            {% endfor %}
            {% else  %}
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
           No results found
            </div>
            {% endif %}

            <div class="row tm-mb-90">
                <div class="col-12 d-flex justify-content-between align-items-center tm-paging-col">
                  <a href="{{ url_for('home', page=memes.prev_num) }}"
                  class="btn btn-primary tm-btn-prev mb-2 disabled
                  {% if memes.page == 1 %}disabled{% endif %}">
                   &laquo;Previous
               </a>
                         <div class="tm-paging d-flex">
                          {% for page_num in memes.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}{% if page_num %}
                          <!-- Check for the active page and set the link to "Active"-->
                                   {% if memes.page == page_num %}
                        <a href="{{ url_for('home', page=page_num) }}" class="active tm-paging-link">{{ page_num }}</a>
                                    {% else %}
                                    <a href="{{ url_for('home', page=page_num) }}" class="tm-paging-link">{{ page_num }}</a>
                                    {% endif %}
                                {% else %}
                                    ...
                                {% endif %}
                            {% endfor %}
          
                    </div>
                    <a href="{{ url_for('home', page=memes.next_num) }}" class="btn btn-primary tm-btn-next   {% if memes.page == memes.pages %}disabled{% endif %}">Next Page</a>
                </div>         
                <p class="text-right mt-3">
                  Showing page {{ memes.page }} of {{ memes.pages }}
                 </p>   
            </div>
          </div><!-- container-fluid, tm-container-content -->

</div>
</div>
{% endblock %}