{% extends "base.html" %}
{% block content %}

    <!--<div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll" data-image-src="img/hero.jpg">
        <form class="d-flex tm-search-form">
            <input class="form-control tm-search-input" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success tm-search-btn" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div>-->

    <div class="container-fluid tm-container-content tm-mt-60">
        <div class="row mb-4">
            <h2 class="col-12 tm-text-primary">Image Download</h2>
        </div>
        <div class="row tm-mb-90">            
            <div class="col-xl-3 offset-md-3 col-lg-7 col-md-6 col-sm-12">
                {% if meme.type == 'picture' or meme.type == 'gif'%}
                <img src="{{meme.image}}" alt="Image" class="img-fluid">
                {% elif meme and meme.type == 'video'%}
                <video autoplay="autoplay" controls="controls" preload="preload">
                    <source src="{{meme.image}}" type="video/mp4"  /> 
                </video>
            
                {% endif %}
            </div>
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="tm-bg-gray tm-video-details">
                    <p class="mb-4">
                        Please support us by making <a href="https://paypal.me/templatemo" target="_parent" rel="sponsored">a PayPal donation</a>. So we can quit our jobs
                    </p>
                    <div class="text-center mb-5">
                        {% if meme %}
                        <a href="{{ url_for('download',filename=meme.image[1:]) }}" class="btn btn-primary tm-btn-big">Download</a>
                        {% else %} 
                        <a href="{{ url_for('download',filename=dict['data']['id']) }}" class="btn btn-primary tm-btn-big" >Download</a>
                        {% endif %}
                    </div>                    
                   
               
                    <div>
                        <h3 class="tm-text-gray-dark mb-3">Tags</h3>
                        {{meme.tags}}
                        <!--<a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">Cloud</a>
                        <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">Bluesky</a>
                        <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">Nature</a>
                        <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">Background</a>
                        <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">Timelapse</a>
                        <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">Night</a>
                        <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">Real Estate</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



{% endblock %}